*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 140vh;
    background-color: antiquewhite;
}

 a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}
.parent{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #2C666E;
padding: 10px;
overflow: hidden;
}

.link ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 96px;
}

.con2{
       display: grid;
    grid-template-columns: repeat(2, 334px);
    grid-template-rows: repeat(2, 370px);
    justify-content: center;
    gap: 10px 10px ;
    margin: 15px 0;
}

.div1{
    border: 1px solid black;
   box-shadow: 1px 1px 10px black;
   background-color: #bdddf97a;;
}

.div2{
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    background-color: #bdddf97a;;
}


.div3{
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    background-color: #bdddf97a;;
}


.div4{
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    background-color: #bdddf97a;;
}

img{
    height: 70%;
    width: 100%;
    padding: 10px;
}

.div1 .hi{
    text-align: center;
}

.div1 span{
    display: flex;
    justify-content: center;
   align-items: center;
   color:  #1f1fcde6;;
}

.button1{
     margin: 10px 119px;
      background-color:#28a745;
    color: white;
    border: 1px solid black; 
    border-radius: 2px;
    transition: background-color;
}

button:hover{
   background-color: #218838;
}

.div2 .hi{
    text-align: center;
}

.div2 span{
    display: flex;
    justify-content: center;
   align-items: center;
   color:  #1f1fcde6;;
}

.div3 .hi{
    text-align: center;
}

.div3 span{
    display: flex;
    justify-content: center;
   align-items: center;
   color:  #1f1fcde6;;
}

.div4 .hi{
    text-align: center;
}

.div4 span{
    display: flex;
    justify-content: center;
   align-items: center;
   color:  #1f1fcde6;;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    margin: 15px 0;
    padding: 15px 0;
}




