*{
    font-family: "Poppins", sans-serif;
     margin: 0;
     box-sizing: border-box;
}

.con{
    flex-direction: column;
}

@media only screen and (min-width: 1072){
.con{
    flex-direction: column;
}

}


.box1{
   text-align: center;
   position: relative;
}

img{
    height: 200px;
   width: 100%;
}
.head{
    position: absolute;
        left: 435px;
    bottom: 106px;
    color: white;
    font-weight: 500;
}
.head p{
   font-weight: 200;
}
.on{
    position: absolute;
    left: 571px;
    bottom: 62px;
    font-weight: 400;
}

button{
    background-color: rgb(21, 21, 248);
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}

button p{
        padding: 6px;
}

.main{
    display: flex;
    position: relative;
   background-color: rgb(149 190 226 / 56%);
    height: 178px;
    width: 100%;
}

.main .first{
    border: 1px solid black;
    position: absolute;
    left: 365px;
    top: 14px;
    height: 142px;
    width: 258px;
    
}

.main .second{
    border: 1px solid black;
    position: absolute;
    left: 650px;
    top: 14px;
    height: 142px;
    width: 258px;
}

.hi{
        text-align: center;
    margin-top: 47px;
    font-size: 1.25rem;
}

.pp{
    text-align: center;
    margin-top: 16px;

}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

